<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogFirstChanceExceptions" value="true"/>
    <add key="LogFirstChanceExceptionTypes" value="System.IO.FileNotFoundException;System.OverflowException;System.IndexOutOfRangeException"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
